*{
box-sizing:border-box;
font-family:'Segoe UI',Arial,sans-serif;
}


body{

margin:0;

background:#070712;

color:white;

overflow-x:hidden;

}



nav{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

background:#10101c;

position:sticky;

top:0;

z-index:100;

}



.logo{

font-size:26px;

font-weight:800;

}


.logo span{

color:#7c3aed;

}



.links a{

color:white;

text-decoration:none;

margin-left:25px;

transition:.3s;

}



.links a:hover{

color:#8b5cf6;

}



.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.8)
),

url("../assets/images/hero.jpg");

background-size:cover;

}



.hero h1{

font-size:70px;

line-height:1;

}



.hero p{

font-size:20px;

max-width:700px;

margin:auto;

color:#cbd5e1;

}



.buttons{

margin-top:30px;

}



.btn{

padding:15px 30px;

border-radius:8px;

text-decoration:none;

margin:10px;

display:inline-block;

font-weight:bold;

}



.primary{

background:#7c3aed;

color:white;

}



.secondary{

background:#2563eb;

color:white;

}



.stats{

display:flex;

justify-content:center;

gap:40px;

padding:60px;

flex-wrap:wrap;

}



.stat{

background:#111122;

padding:30px;

border-radius:15px;

width:220px;

text-align:center;

}



.features{

padding:50px 10%;

text-align:center;

}



.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

gap:25px;

}



.card{

background:#151525;

padding:30px;

border-radius:15px;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px #7c3aed;

}



.join{

text-align:center;

padding:80px;

background:#10101c;

}



footer{

padding:30px;

text-align:center;

background:#05050b;

}



@media(max-width:700px){

.links{

display:none;

}


.hero h1{

font-size:45px;

}

}
